/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  :root {
  --greywhite: #F5F3EF;
  --white: #FFFFFF;
  --yellow: #FEBD2F;
  }

  .grid-parent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 80px 400px 800px 80px;
    grid-template-areas: 
    "nav nav nav nav"
    "headliner headliner img img"
    "cards cards cards cards"
    "footer footer footer footer";
  }
  .navbar {
    grid-area: nav;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headliner {
    grid-area: headliner;
    background-color:var(--greywhite);
  }
  .img {
    grid-area: img;
    background-color: aqua;
  }
  .card-section {
    grid-area: cards;
    background-color: aquamarine;
    display: grid;

  }
  .footer {
    grid-area: footer;
    background-color:var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftmenu {
    display: flex;
    flex-direction: row;
  }







